body {
  background-color: grey;
}

#canvas {
  margin-right: 10px;
  background-color: black;
}

#container {
  padding: 1% 1% 1% 1%;
}

#content {
  max-width: 1600px;
  margin: auto;
}

#sidebar {
  padding: 2% 2% 2% 2%;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  height: 600px;
}

#console {
  padding: 1% 1% 1% 1%;
  border-radius: 2.5px;
  height: 600px;
  width: 400px;
  background-color: white;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slidecontainer {
  padding: 2% 2% 2% 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: orangered !important;
}
.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: orangered !important;
}
